input[type="text"]::placeholder {
    border: none;
    color: white;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    font-weight: bold; 
    text-align: center;

}
input[type="text"]:focus::placeholder {
    color: transparent;
}
input[type="text"] {
    background: #5389e0;
    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    font-weight: bold; 
    color: white;
    text-align: center;

}
select {
    border: none;
    font-family: Calibri, sans-serif;
    font-weight: bold; 
    border-radius: 40px;
    color: #5389e0;
}
